.barTool {
    background-color: #eeeeeecc;
    border-radius: 5px;

    button {
        min-height: 45px;
        border: none;
        border-radius: 5px;
        font-size: 1.15rem;
        font-weight: 600;
        padding: 4px;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        background-color: #a6bace;
        transition: opacity 0.2s ease-in-out;
        will-change: opacity;

        &:hover {
            opacity: 0.9;
            cursor: pointer;
        }
    }

    &__getBtn {
        width: 100%;
    }

    &__closeBtn {
        width: 100px;
    }
}