.main {
    width: 100%;
    min-height: 600px;
    padding: 30px 20px;

    & > h2 {
        text-align: center;
        font-size: 24px;
        line-height: 1.2em;
        letter-spacing: 0.5px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    .main__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        .addTodoContainer {
            width: calc(42% - 20px);
            min-height: 150px;
            padding: 20px;
            border: 1px solid lightgray;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &__addBtn {
                width: 190px;
                min-height: 45px;
                border: none;
                border-radius: 5px;
                font-size: 1.15rem;
                font-weight: 600;
                padding: 4px;
                letter-spacing: 0.2px;
                text-transform: uppercase;
                background-color: #a6bace;
                transition: opacity 0.2s ease-in-out;
                will-change: opacity;

                &:hover {
                    opacity: 0.9;
                    cursor: pointer;
                }
            }
        }

        .todosContainer {
            width: calc(58% - 20px);
            display: flex;
            flex-direction: column;

            &__btnsContainer {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin: 0 -15px 15px -15px;

                a {
                    width: 90px;
                    min-height: 30px;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.15rem;
                    font-weight: 600;
                    padding: 4px;
                    margin: 0 15px;
                    letter-spacing: 0.2px;
                    text-transform: uppercase;
                    background-color: #a6bace;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: black;
                    position: relative;
                    transition: opacity 0.2s ease-in-out;
                    will-change: opacity;

                    &:hover {
                        opacity: 0.9;
                    }

                    div {
                        display: block;
                        position: absolute;
                        bottom: -6px;
                        width: 90px;
                        height: 2px;
                        border-radius: 3px;
                        background-color: #8f8f8fb6;
                    }

                    .hidden {
                        display: none !important;
                    }
                }

                &-getDataBtn {
                    width: 240px;
                    min-height: 30px;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.15rem;
                    font-weight: 600;
                    padding: 4px;
                    margin: 0 15px 0 auto;
                    letter-spacing: 0.2px;
                    text-transform: uppercase;
                    background-color: #a6bace;
                    transition: opacity 0.2s ease-in-out;
                    will-change: opacity;

                    &:hover {
                        opacity: 0.9;
                        cursor: pointer;
                    }
                }
            }

            &__clearBtn {
                width: 150px;
                min-height: 30px;
                border: none;
                border-radius: 5px;
                font-size: 1.15rem;
                font-weight: 600;
                padding: 4px;
                align-self: flex-end;
                margin-bottom: 10px;
                letter-spacing: 0.2px;
                text-transform: uppercase;
                background-color: #ffa6a6;
                border: 2px solid #ff0000;
                transition: opacity 0.2s ease-in-out;
                will-change: opacity;

                &:hover {
                    opacity: 0.9;
                    cursor: pointer;
                }
            }

            .todosGeneral {
                ul {
                    width: 100%;
                    background-color: #f1f1f1;
                    padding: 8px;
                    border-radius: 4px;

                    li {
                        border: 1px solid #a9a9a9;
                        border-radius: 4px;
                        padding: 8px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        
                        &:not(:last-child) {
                            margin-bottom: 6px;
                        }
    
                        .deleteBtn {
                            width: 65px;
                            min-height: 30px;
                            border: none;
                            border-radius: 4px;
                            font-weight: 600;
                            text-transform: capitalize;
                            letter-spacing: 0.4px;
                            background-color: #e76464;
                            transition: opacity 0.2s ease-in-out;
                            will-change: opacity;

                            &:hover {
                                opacity: 0.9;
                                cursor: pointer;
                            }
                        }

                        span {
                            width: calc(100% - 115px);
                            margin: 0 10px;
                            padding: 4px;
                        }

                        input[type="checkbox"] {
                            width: 20px;
                            height: 20px;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                &__empty {
                    width: 100%;
                    min-height: 50px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 20px;

                    h3 {
                        font-size: 20px;
                        line-height: 1.2em;
                        letter-spacing: 0.5px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}